<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Testimonials fot LightIT</title>
	<link rel="stylesheet" href="assets/css/vendors.min.css">
	<link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body index>
	<header class="header-top">
		<div class="container">
			<div class="header">
				<a class="logo" href="#">
					<img src="assets/images/logo.png" alt="OTZOVIK mini logo">
				</a>
				<div class="search-wrap">
					<input type="search" class="search" ng-model="search">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<div class="auth-wrap" ng-controller="authCtrl" ng-cloak>
					<div class="auth" ng-if="!user">
						<button class="btn btn-primary fancybox" data-src="#signin-form">
							<span class="glyphicon glyphicon-log-in"></span>
							Sign in
						</button>
						<span class="or">or</span>
						<button class="btn btn-success fancybox" data-src="#signup-form">
							<span class="glyphicon glyphicon-user"></span>
							Sign up
						</button>
					</div>
					<div class="user-wrap" ng-if="user">
						<a href="#" class="user">
							<div class="userpic">
								<span class="glyphicon glyphicon-user"></span>
								<img src="http://placehold.it/38?text=+" class="img-circle" alt="avatar">
							</div>
							<span class="username">
								{{user.username}}
							</span>
						</a>
						<button class="btn btn-default" ng-click="logout()">
							<span class="glyphicon glyphicon-log-out"></span>
							Logout
						</button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- ПРОДУКТЫ -->
	<div class="container" ng-controller="productCtrl as products">
		<div class="products">
			<div class="loading" ng-if="!loaded && !products.error"></div>
			<div class="error" ng-if="products.error">
				Ooops! Something went wrong. Please, reload this page.
			</div>
			<div class="row" ng-if="loaded">
				<div class="col-sm-6 col-md-4 col-lg-3"
				     ng-repeat="product in products.products | filter:{title:search}">
					<div class="product fancybox" data-src="{{'#product_' + product.id}}">
						<div class="image-wrap">
							<img ng-src="assets/images/products/{{product.img}}" alt="{{product.title}}">
						</div>
						<div class="product-title">
							{{product.title}}
						</div>
						<div class="stars-rating">
							<div class="stars-rating-current"
							     style="{{'width: ' + product.averageRate / 5 * 100 + '%;'}}"></div>
						</div>
						<div class="reviews-number">
							{{product.reviewsNumber}} reviews
						</div>
					</div>
					<div class="popup product-full" id="{{'product_' + product.id}}">
						<div class="container">
							<div class="image-wrap">
								<img ng-src="assets/images/products/{{product.img}}" alt="{{product.title}}">
							</div>
							<div class="product-info">
								<div class="product-title">
									{{product.title}}
								</div>
								<div class="product-rate-wrap">
									<div class="product-rate"></div>
								</div>
								<div class="product-desc">
									{{product.text}}
								</div>
							</div>
							<div class="product-reviews">
								<div class="post-review" ng-show="getUser()">123</div>
								<p ng-repeat="review in product.reviews">
									{{review.text}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ФОРМЫ -->
	<form class="popup form" id="signin-form" name="signinForm" ng-controller="loginCtrl"
	      ng-submit="login(signinForm)">
		<div class="form-group">
			<label for="si-name" class="control-label">Username</label>
			<input type="text" id="si-name" name="username" class="form-control" ng-model="user.username"
			       ng-change="onInput()" placeholder="John Doe" required>
		</div>
		<div class="form-group">
			<label for="si-pass" class="control-label">Password</label>
			<input type="password" id="si-pass" name="password" class="form-control" ng-model="user.password"
			       ng-change="onInput()" placeholder="Password" required>
		</div>
		<button type="submit" class="btn btn-primary submit-btn" ng-class="{disabled: signinForm.$invalid}"
		        ng-disabled="signinForm.$invalid">
			<span class="glyphicon glyphicon-log-in"></span>
			Sign in
		</button>
		<span class="error" ng-show="errorMessage">{{errorMessage}}</span>
	</form>
	<form class="popup form" id="signup-form" name="signupForm" ng-controller="registerCtrl"
	      ng-submit="register(signupForm)">
		<div class="form-group">
			<label for="su-name" class="control-label">Username</label>
			<input type="text" id="su-name" name="username" class="form-control" ng-model="user.username"
			       ng-change="onInput()" placeholder="John Doe" required>
		</div>
		<div class="form-group">
			<label for="su-pass" class="control-label">Password</label>
			<input type="password" id="su-pass" name="password" class="form-control" ng-model="user.password"
			       ng-change="onInput()" placeholder="Password" required>
		</div>
		<div class="form-group">
			<label for="su-c-pass" class="control-label">Confirm password</label>
			<input type="password" id="su-c-pass" name="confirm-password" class="form-control"
			       ng-model="user.confirmPassword" ng-change="onInput()" placeholder="Confirm password" required>
		</div>
		<button type="submit" class="btn btn-success submit-btn"
		        ng-class="{disabled: signupForm.$invalid || confirmPassword !== password}"
		        ng-disabled="signupForm.$invalid || confirmPassword !== password">
			<span class="glyphicon glyphicon-user"></span>
			Sign up
		</button>
		<span class="error" ng-show="errorMessage">{{errorMessage}}</span>
	</form>

	<!-- УВЕДОМЛЕНИЯ -->
	<div class="popup notification success" id="regSuccess">
		<i class="fa fa-check-circle-o" aria-hidden="true"></i>
		<header>Congratulation!</header>
		<p>You can now sign in.</p>
		<button class="btn btn-primary fancybox" data-src="#signin-form">
			<span class="glyphicon glyphicon-log-in"></span>
			Sign in
		</button>
	</div>

	<script src="assets/js/vendors.min.js"></script>
	<script src="app.min.js"></script>
</body>
</html>
