<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Testimonials fot LightIT</title>
	<link rel="stylesheet" href="assets/css/vendors.min.css">
	<link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
	<header class="header-top">
		<div class="container">
			<div class="header">
				<a class="logo" href="#">
					<img src="assets/images/logo.png" alt="OTZOVIK mini logo">
				</a>
				<div class="search-wrap">
					<input type="search" class="search" ng-model="search">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<div class="auth-wrap" ng-controller="authCtrl" ng-cloak>
					<div class="auth" ng-if="!user">
						<button class="btn btn-primary" fancybox="#signin-form">
							<span class="glyphicon glyphicon-log-in"></span>
							Sign in
						</button>
						<span class="or">or</span>
						<button class="btn btn-success" fancybox="#signup-form">
							<span class="glyphicon glyphicon-user"></span>
							Sign up
						</button>
					</div>
					<div class="user-wrap" ng-if="user">
						<a href="#" class="user">
							<!-- аватар тут чисто декоративный -->
							<div class="userpic">
								<span class="glyphicon glyphicon-user"></span>
								<img src="http://placehold.it/38?text=+" class="img-circle" alt="avatar">
							</div>
							<span class="username">
								{{user.username}}
							</span>
						</a>
						<button class="btn btn-default" ng-click="logout()">
							<span class="glyphicon glyphicon-log-out"></span>
							Logout
						</button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- ПРОДУКТЫ -->
	<div class="container" ng-controller="productCtrl as products">
		<div class="products" ng-cloak>
			<div class="loading" ng-if="!loaded && !products.error"></div>
			<div class="error" ng-if="products.errorMessage">
				Ooops! Something went wrong. Please, {{products.errorMessage}}.
			</div>
			<div class="row" ng-if="loaded && !products.error">
				<div class="col-sm-6 col-md-4 col-lg-3"
				     ng-repeat="product in products.products | filter:{title:search}">
					<div class="product" fancybox="{{'#product_' + product.id}}">
						<div class="image-wrap">
							<img ng-src="assets/images/products/{{product.img}}" alt="{{product.title}}">
						</div>
						<div class="product-title">
							{{product.title}}
						</div>
						<div class="stars-rating">
							<div class="stars-rating-current"
							     style="{{'width: ' + product.averageRate / 5 * 100 + '%;'}}"></div>
						</div>
						<div class="reviews-number">
							{{product.reviewsNumber}} reviews
						</div>
					</div>
					<div class="popup product-full" id="{{'product_' + product.id}}">
						<div class="row">
							<div class="col-md-5">
								<div class="image-wrap">
									<img ng-src="assets/images/products/{{product.img}}" alt="{{product.title}}">
								</div>
							</div>
							<div class="col-md-7">
								<div class="product-info">
									<div class="product-title">
										{{product.title}}
									</div>
									<div class="stars-rating">
										<div class="stars-rating-current"
										     style="{{'width: ' + product.averageRate / 5 * 100 + '%;'}}"></div>
									</div>
									<div class="product-desc">
										{{product.text}}
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="products.user">
							<div class="col-sm-12">
								<form class="form post-review" name="reviewForm"
								      ng-controller="postReviewCtrl as post" ng-submit="post.postReview(reviewForm)">
									<input type="hidden" ng-init="post.product.id = product.id">
									<div class="post-stars-rating">
										<div class="stars-rating-wrap">
											<input class="stars-rating-input" id="stars-rating-5" type="radio"
											       ng-model="post.product.rate" ng-change="post.resetError()" value="5">
											<label class="stars-rating-ico fa fa-star-o fa-lg"
											       for="stars-rating-5"></label>
											<input class="stars-rating-input" id="stars-rating-4" type="radio"
											       ng-model="post.product.rate" ng-change="post.resetError()" value="4">
											<label class="stars-rating-ico fa fa-star-o fa-lg"
											       for="stars-rating-4"></label>
											<input class="stars-rating-input" id="stars-rating-3" type="radio"
											       ng-model="post.product.rate" ng-change="post.resetError()" value="3">
											<label class="stars-rating-ico fa fa-star-o fa-lg"
											       for="stars-rating-3"></label>
											<input class="stars-rating-input" id="stars-rating-2" type="radio"
											       ng-model="post.product.rate" ng-change="post.resetError()" value="2">
											<label class="stars-rating-ico fa fa-star-o fa-lg"
											       for="stars-rating-2"></label>
											<input class="stars-rating-input" id="stars-rating-1" type="radio"
											       ng-model="post.product.rate" ng-change="post.resetError()" value="1">
											<label class="stars-rating-ico fa fa-star-o fa-lg"
											       for="stars-rating-1"></label>
										</div>
									</div>
									<div class="form-group">
										<label for="review" class="control-label">Comment:</label>
										<textarea id="review" class="text form-control" ng-model="post.product.review"
										          ng-change="post.resetError()" rows="5" required></textarea>
									</div>
									<button class="btn btn-primary" ng-class="{disabled: reviewForm.$invalid}"
									        ng-disabled="reviewForm.$invalid">
										<span class="glyphicon glyphicon-ok"></span>
										Post
									</button>
									<span class="error" ng-if="post.error">
										Something went wrong. Please, try again.
									</span>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="product-reviews">
									<div class="review"
									     ng-repeat="review in product.reviews | orderBy:'-created_at'">
										<div class="meta">
											<span class="username">{{review.created_by.username}}</span>
											<div class="stars-rating" ng-if="review.rate">
												<div class="stars-rating-current"
												     style="{{'width: ' + review.rate / 5 * 100 + '%;'}}"></div>
											</div>
											<span class="date">{{review.created_at | date:'dd MMMM yyyy'}}</span>
										</div>
										<p class="text">
											{{review.text}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ФОРМЫ -->
	<!-- вход -->
	<form class="popup form" id="signin-form" name="signinForm" ng-controller="loginCtrl" ng-submit="login(signinForm)">
		<div class="form-group">
			<label for="si-name" class="control-label">Username</label>
			<input type="text" id="si-name" name="username" class="form-control" ng-model="user.username"
			       ng-change="onInput()" placeholder="John Doe" required>
		</div>
		<div class="form-group">
			<label for="si-pass" class="control-label">Password</label>
			<input type="password" id="si-pass" name="password" class="form-control" ng-model="user.password"
			       ng-change="onInput()" placeholder="Password" required>
		</div>
		<button type="submit" class="btn btn-primary submit-btn" ng-class="{disabled: signinForm.$invalid}"
		        ng-disabled="signinForm.$invalid">
			<span class="glyphicon glyphicon-log-in"></span>
			Sign in
		</button>
		<span class="error" ng-show="errorMessage">{{errorMessage}}</span>
	</form>
	<!-- регистрация -->
	<form class="popup form" id="signup-form" name="signupForm" ng-controller="registerCtrl as reg"
	      ng-submit="reg.register(signupForm)">
		<div class="form-group">
			<label for="su-name" class="control-label">Username</label>
			<input type="text" id="su-name" class="form-control" ng-model="reg.user.username"
			       ng-change="reg.resetError()" placeholder="John Doe" required>
		</div>
		<div class="form-group">
			<label for="su-pass" class="control-label">Password</label>
			<input type="password" id="su-pass" class="form-control" ng-model="reg.user.password"
			       ng-change="reg.resetError()" placeholder="Password" required>
		</div>
		<div class="form-group">
			<label for="su-c-pass" class="control-label">Confirm password</label>
			<input type="password" id="su-c-pass" class="form-control" ng-model="reg.user.confirmPassword"
			       ng-change="reg.resetError()" placeholder="Confirm password" required>
		</div>
		<button type="submit" class="btn btn-success submit-btn"
		        ng-class="{disabled: signupForm.$invalid || reg.user.confirmPassword !== reg.user.password}"
		        ng-disabled="signupForm.$invalid || reg.user.confirmPassword !== reg.user.password">
			<span class="glyphicon glyphicon-user"></span>
			Sign up
		</button>
		<span class="error" ng-if="reg.errorMessage">{{reg.errorMessage}}</span>
	</form>

	<!-- УВЕДОМЛЕНИЯ -->
	<!-- успешная регистрация -->
	<div class="popup notification success" id="regSuccess">
		<i class="fa fa-check-circle-o" aria-hidden="true"></i>
		<header>Congratulation!</header>
		<p>You can now sign in.</p>
		<button class="btn btn-primary" fancybox="#signin-form">
			<span class="glyphicon glyphicon-log-in"></span>
			Sign in
		</button>
	</div>
	<!-- отзыв опубликован -->
	<div class="popup notification success" id="postSuccess">
		<i class="fa fa-check-circle-o" aria-hidden="true"></i>
		<header>Congratulation!</header>
		<p>
			Your review was successfully posted!
			<br>
			Please, refresh the page to see it.
		</p>
	</div>

	<script src="assets/js/vendors.min.js"></script>
	<script src="app.min.js"></script>
</body>
</html>
